.notes {
    display: flex;
    float: left;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(2, 2, 4);
    max-height: 10.6in;
    min-height: 10.6in;
    margin-left: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 600px) {
    .notes {
        margin-bottom: 10px;
        max-width: 95%;
        width: 93%;
    }
}

.notes .ql-toolbar.ql-snow {
    display: none;
}

.notes .ql-container.ql-snow {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.notes_header {
    top: 0;
    position: sticky;
    box-shadow: 0 0 5px rgb(2, 2, 4);
    background-color: rgb(211, 243, 255);
    border-radius: 3px;
    width: 3.5in;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
    margin: 0 1rem;
    height: 42px;
}
@media screen and (max-width: 600px) {
    .notes .notes_header{
        max-width: 95%;
        width: 91%;
    }
}

.notes .ql-editor {
    box-shadow: 0 0 5px rgb(2, 2, 4);
    background-color: rgb(236, 255, 225);
    width: 3.5in;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    overflow-y: hidden;
}

@media screen and (max-width: 600px) {
    .notes .ql-editor{
        width: 90%;
        margin-bottom: 10px;
        max-width: 90%;
    }
}

.notes .ql-editor > p {
    cursor: pointer;
}

.note {
    height: 80px;
    margin: 15px 0;
}


.editorDiv {
    position: relative;
    z-index: 1;
}

.delBtn {
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 80%;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}

.delBtn:hover {
    color: red;
}

.selectDlt {
    position: absolute;
    left: 5px;
    cursor: pointer;
}

.selectDlt:hover {
    color: rgb(255, 0, 0);
}